[user]
	name = Stefan Heller
	email = stefan.heller@okta.com
	signingkey = 7082120B4788575A
[core]
    editor = nvim
	excludesfile = /Users/stefan.heller/.gitignore
	sshCommand = /usr/local/bin/ocm handler ssh
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
    what = diff --cached
    oneline = log --oneline
[credential]
	useHttpPath = true
	helper = /usr/local/bin/ocm handler https
[commit]
	gpgsign = true
[gpg]
	program = /opt/homebrew/bin/gpg
[http]
	postBuffer = 157286400
